# Importing
- libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.axes as ax
from scipy.stats import zscore

In [2]:
df = pd.read_csv('dataset_full.csv')
df

,qty_dot_url,qty_hyphen_url,qty_underline_url,qty_slash_url,qty_questionmark_url,qty_equal_url,qty_at_url,qty_and_url,qty_exclamation_url,qty_space_url,...,qty_ip_resolved,qty_nameservers,qty_mx_servers,ttl_hostname,tls_ssl_certificate,qty_redirects,url_google_index,domain_google_index,url_shortened,phishing
0,3,0,0,1,0,0,0,0,0,0,...,1,2,0,892,0,0,0,0,0,1
1,5,0,1,3,0,3,0,2,0,0,...,1,2,1,9540,1,0,0,0,0,1
2,2,0,0,1,0,0,0,0,0,0,...,1,2,3,589,1,0,0,0,0,0
3,4,0,2,5,0,0,0,0,0,0,...,1,2,0,292,1,0,0,0,0,1
4,2,0,0,0,0,0,0,0,0,0,...,1,2,1,3597,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88642,3,1,0,0,0,0,0,0,0,0,...,1,3,1,3597,0,0,0,0,0,0
88643,2,0,0,0,0,0,0,0,0,0,...,1,2,2,591,0,2,0,0,0,0
88644,2,1,0,5,0,0,0,0,0,0,...,1,2,5,14391,1,0,0,0,0,1
88645,2,0,0,1,0,0,0,0,0,0,...,1,1,1,52,1,0,0,0,0,1
88646,2,0,0,0,0,0,0,0,0,0,...,1,4,0,299,0,0,0,0,0,0

In [3]:
df.describe()

,qty_dot_url,qty_hyphen_url,qty_underline_url,qty_slash_url,qty_questionmark_url,qty_equal_url,qty_at_url,qty_and_url,qty_exclamation_url,qty_space_url,...,qty_ip_resolved,qty_nameservers,qty_mx_servers,ttl_hostname,tls_ssl_certificate,qty_redirects,url_google_index,domain_google_index,url_shortened,phishing
count,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,...,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,88647.000000,88647.00000,88647.000000,88647.000000,88647.000000
mean,2.191343,0.328810,0.113879,1.281781,0.009329,0.205861,0.022133,0.140885,0.002944,0.001015,...,1.136564,2.772412,1.742428,6159.877514,0.506447,0.343903,0.00141,0.002019,0.005482,0.345720
std,1.235636,1.119286,0.657767,1.893929,0.112568,0.954272,0.279652,0.924864,0.087341,0.072653,...,0.895146,1.322999,1.706705,11465.583810,0.499961,0.783892,0.05864,0.063250,0.073841,0.475605
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,0.000000,0.000000,-1.000000,0.000000,-1.000000,-1.00000,-1.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,1.000000,292.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,1.000000,2029.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,4.000000,2.000000,10798.000000,1.000000,1.000000,0.00000,0.000000,0.000000,1.000000
max,24.000000,35.000000,21.000000,44.000000,9.000000,23.000000,43.000000,26.000000,10.000000,9.000000,...,24.000000,20.000000,20.000000,604800.000000,1.000000,17.000000,1.00000,1.000000,1.000000,1.000000

In [4]:
df.isnull().sum()

qty_dot_url             0
qty_hyphen_url          0
qty_underline_url       0
qty_slash_url           0
qty_questionmark_url    0
                       ..
qty_redirects           0
url_google_index        0
domain_google_index     0
url_shortened           0
phishing                0
Length: 112, dtype: int64

In [5]:
print(list(df.isnull().sum()))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [6]:
df.shape

(88647, 112)

In [7]:
# Calculate the percentage of '0' values in each column
percentage_zeros = (df == 0).mean() * 100
threshold = 70
print(pd.DataFrame(percentage_zeros))
# Filter columns with more than or equal to 70% '0' values
columns_with_70_percent_zeros = percentage_zeros[percentage_zeros >= threshold].index
print(columns_with_70_percent_zeros)
print(len(columns_with_70_percent_zeros))

                              0
qty_dot_url            0.000000
qty_hyphen_url        82.423545
qty_underline_url     93.988516
qty_slash_url         53.593466
qty_questionmark_url  99.155076
...                         ...
qty_redirects         58.580663
url_google_index      99.655939
domain_google_index   99.599535
url_shortened         99.451758
phishing              65.428046

[112 rows x 1 columns]
Index(['qty_hyphen_url', 'qty_underline_url', 'qty_questionmark_url',
       'qty_equal_url', 'qty_at_url', 'qty_and_url', 'qty_exclamation_url',
       'qty_space_url', 'qty_tilde_url', 'qty_comma_url', 'qty_plus_url',
       'qty_asterisk_url', 'qty_hashtag_url', 'qty_dollar_url',
       'qty_percent_url', 'qty_hyphen_domain', 'qty_underline_domain',
       'qty_slash_domain', 'qty_questionmark_domain', 'qty_equal_domain',
       'qty_at_domain', 'qty_and_domain', 'qty_exclamation_domain',
       'qty_space_domain', 'qty_tilde_domain', 'qty_comma_domain',
       'qty_plus_domain', 'qty_asterisk_domain', 'qty_hashtag_domain',
       'qty_dollar_domain', 'qty_percent_domain', 'domain_in_ip',
       'server_client_domain', 'email_in_url', 'url_google_index',
       'domain_google_index', 'url_shortened'],
      dtype='object')
37

In [8]:
for i in columns_with_70_percent_zeros:
    df.drop(i, axis = 1,inplace = True)
    
print(df.shape)

(88647, 75)

In [9]:
print(list(df.isnull().sum()))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# Outlier detection and Treatment

from sklearn.feature_selection import SelectKBest, f_classif

X = df.drop(['phishing'], axis = 1)
y = df['phishing']
k_best = SelectKBest(score_func=f_classif, k=20)
k_best.fit(X, y)
//# Get the indices of the selected features
selected_indices = k_best.get_support(indices=True)
//# Get the names of the selected columns
selected_columns = X.columns[selected_indices]

columns_per_row = 3
# Calculating the number of rows needed for the plots
num_rows = (len(selected_columns) + columns_per_row - 1) // columns_per_row
# Create subplots
fig, axes = plt.subplots(num_rows, columns_per_row, figsize=(15, 5 * num_rows))
# Flatten the axes array for easier indexing
axes = axes.ravel()

# Loop over columns and create boxplots
for i, column in enumerate(selected_columns):
    ax = axes[i]
    df.boxplot(column=column, ax=ax)
    ax.set_title(column)
    ax.set_ylabel('Values')

# Remove any empty subplots
for i in range(len(selected_columns), num_rows * columns_per_row):
    fig.delaxes(axes[i])

plt.tight_layout()
plt.show()

In [10]:
threshold = 10

# Create an empty DataFrame to store the filtered results
new_df = pd.DataFrame()

# Iterate through each column in the DataFrame
for column in df.columns:
    # Get the value counts for the current column
    value_counts = df[column].value_counts()
    
    # Filter out values with counts less than the threshold
    mask = df[column].isin(value_counts.index[value_counts >= threshold])
    
    # Append the filtered column to the result DataFrame
    new_df[column] = df[column][mask]

In [11]:
print(list(new_df.isnull().sum()))

[0, 21, 6, 599, 16, 38, 144, 16, 34, 32, 7, 0, 7, 26, 28, 14, 11, 13, 1, 15, 20, 0, 19, 78, 302, 6, 20, 35, 0, 0, 4, 1, 3, 2, 13, 15, 2, 10, 12, 0, 0, 58, 276, 0, 38, 39, 32, 5, 14, 10, 21, 5, 4, 5, 14, 10, 5, 0, 15, 71, 766, 0, 16, 82772, 0, 7343, 32145, 6918, 21, 11, 9, 16880, 0, 15, 0]

In [12]:
columns_with_null=new_df.columns[new_df.isnull().sum()>150]
columns_with_null

Index(['length_url', 'directory_length', 'file_length', 'params_length',
       'time_response', 'asn_ip', 'time_domain_activation',
       'time_domain_expiration', 'ttl_hostname'],
      dtype='object')

In [13]:
import warnings
warnings.filterwarnings('ignore')
result_df = pd.DataFrame(columns=['Column Name', 'Null Count'])

# Iterate through the columns with null values
for col_name in columns_with_null:
    null_count = new_df[col_name].isnull().sum()
    result_df = result_df.append({'Column Name': col_name, 'Null Count': null_count}, ignore_index=True)

# Print the result DataFrame
result_df

              Column Name Null Count
0              length_url        599
1        directory_length        302
2             file_length        276
3           params_length        766
4           time_response      82772
5                  asn_ip       7343
6  time_domain_activation      32145
7  time_domain_expiration       6918
8            ttl_hostname      16880

From the above null counts
time_domain_activation
time_domain_expiration
has greator negative correaltion to target column.

In [14]:
print(new_df.shape)
df1 = new_df.copy()
df1 = df1.drop(columns=list(columns_with_null))
print(df1.shape)

(88632, 75)
(88632, 66)

In [15]:
df = df1.copy()
df.shape

(88632, 66)

In [16]:
df.columns

Index(['qty_dot_url', 'qty_slash_url', 'qty_tld_url', 'qty_dot_domain',
       'qty_vowels_domain', 'domain_length', 'qty_dot_directory',
       'qty_hyphen_directory', 'qty_underline_directory',
       'qty_slash_directory', 'qty_questionmark_directory',
       'qty_equal_directory', 'qty_at_directory', 'qty_and_directory',
       'qty_exclamation_directory', 'qty_space_directory',
       'qty_tilde_directory', 'qty_comma_directory', 'qty_plus_directory',
       'qty_asterisk_directory', 'qty_hashtag_directory',
       'qty_dollar_directory', 'qty_percent_directory', 'qty_dot_file',
       'qty_hyphen_file', 'qty_underline_file', 'qty_slash_file',
       'qty_questionmark_file', 'qty_equal_file', 'qty_at_file',
       'qty_and_file', 'qty_exclamation_file', 'qty_space_file',
       'qty_tilde_file', 'qty_comma_file', 'qty_plus_file',
       'qty_asterisk_file', 'qty_hashtag_file', 'qty_dollar_file',
       'qty_percent_file', 'qty_dot_params', 'qty_hyphen_params',
       'qty_underline_params', 'qty_slash_params', 'qty_questionmark_params',
       'qty_equal_params', 'qty_at_params', 'qty_and_params',
       'qty_exclamation_params', 'qty_space_params', 'qty_tilde_params',
       'qty_comma_params', 'qty_plus_params', 'qty_asterisk_params',
       'qty_hashtag_params', 'qty_dollar_params', 'qty_percent_params',
       'tld_present_params', 'qty_params', 'domain_spf', 'qty_ip_resolved',
       'qty_nameservers', 'qty_mx_servers', 'tls_ssl_certificate',
       'qty_redirects', 'phishing'],
      dtype='object')

In [17]:
import pandas as pd
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')  # You can change 'mean' to the strategy you prefer
imputer.fit(df)
df_imputed = pd.DataFrame(imputer.transform(df), columns=df.columns)

In [18]:
df = df_imputed.copy()

In [19]:
import pandas as pd
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif  # Choose an appropriate scoring function

# Assuming 'df' is your DataFrame with features and target
X = df.drop('phishing', axis=1)  # Remove the target column
y = df['phishing']  # Your target variable
k_best = SelectKBest(score_func=f_classif, k=20)  # Select top 20 features
X_new = k_best.fit_transform(X, y)
selected_feature_indices = k_best.get_support(indices=True)
selected_feature_names = X.columns[selected_feature_indices]

In [22]:
len(selected_feature_names)
selected_feature_names

Index(['qty_slash_directory', 'qty_questionmark_directory', 'qty_at_directory',
       'qty_exclamation_directory', 'qty_space_directory',
       'qty_plus_directory', 'qty_asterisk_directory', 'qty_hashtag_directory',
       'qty_dollar_directory', 'qty_slash_file', 'qty_questionmark_file',
       'qty_at_file', 'qty_and_file', 'qty_exclamation_file', 'qty_space_file',
       'qty_tilde_file', 'qty_plus_file', 'qty_asterisk_file',
       'qty_hashtag_file', 'qty_dollar_file'],
      dtype='object')

In [25]:
y.shape

(88632,)

# SPLITTING DATA

In [26]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X_new, y, test_size = 0.3,random_state= 42)

In [27]:
print(xtrain.shape)
print(xtest.shape)

(62042, 20)
(26590, 20)

In [32]:
selected_feature_names

Index(['qty_slash_directory', 'qty_questionmark_directory', 'qty_at_directory',
       'qty_exclamation_directory', 'qty_space_directory',
       'qty_plus_directory', 'qty_asterisk_directory', 'qty_hashtag_directory',
       'qty_dollar_directory', 'qty_slash_file', 'qty_questionmark_file',
       'qty_at_file', 'qty_and_file', 'qty_exclamation_file', 'qty_space_file',
       'qty_tilde_file', 'qty_plus_file', 'qty_asterisk_file',
       'qty_hashtag_file', 'qty_dollar_file'],
      dtype='object')

In [33]:
ytest

62877    1.0
76286    0.0
67962    0.0
64528    1.0
66676    0.0
        ...
12257    0.0
75667    0.0
58042    0.0
15170    0.0
44943    0.0
Name: phishing, Length: 26590, dtype: float64

In [34]:
from sklearn.ensemble import RandomForestRegressor
rf_regressor = RandomForestRegressor(200)
rf_regressor.fit(xtrain, ytrain)
ypred = rf_regressor.predict(xtest)
ypred

array([0.48453641, 0.01622858, 0.01622858, ..., 0.01622858, 0.01622858,
       0.48453641])

In [35]:
from sklearn.metrics import mean_squared_error, accuracy_score
mean_squared_error(ypred, ytest)

0.08336616355334421

In [36]:
from sklearn.metrics import accuracy_score
ypred_binary = (ypred >= 0.5).astype(int)
accuracy = accuracy_score(ytest, ypred_binary)
accuracy

0.8700263256863483

In [37]:
ypred_binary_float = ypred_binary.astype(float)
my_pred = pd.DataFrame(ypred_binary_float, ytest)
my_pred

            0
phishing
1.0       0.0
0.0       0.0
0.0       0.0
1.0       1.0
0.0       0.0
...       ...
0.0       0.0
0.0       0.0
0.0       0.0
0.0       0.0
0.0       0.0

[26590 rows x 1 columns]

In [38]:
import pickle
pickle.dump(rf_regressor, open('my_model.pkl', 'wb'))